//===================================================COLORS========================================//

$clr-main: #000000;
$clr-light: #FFFFFF;
$clr-accent: #FF6B08;
$clr-accent-btn: #FF6B01;
$clr-bg-header: rgba(0, 0, 0, 0.56);
$clr-bg-footer: #F7F7F7;
$clr-footer: #545454;

//===========================TRANSITIONS======================================================//

$transition-time: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
