@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.333;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

.button {
  background-color: #FF6B01;
  color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.modal {
  position: relative;
  padding: 48px 20px 40px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 40px 72px 40px 36px;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .modal {
    padding: 40px 16px;
    width: 814px;
  }
}
.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .modal__flex-thumb {
    display: flex;
    justify-content: space-between;
  }
}
.modal__thumb {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .modal__thumb {
    flex-basis: calc((100% - 68px) / 2);
  }
}
@media screen and (min-width: 1024px) {
  .modal__thumb {
    flex-basis: calc((100% - 16px) / 2);
  }
}
.modal__thumb img {
  width: 100%;
  height: 357px;
}
@media screen and (min-width: 768px) {
  .modal__thumb img {
    height: 374px;
  }
}
@media screen and (min-width: 1024px) {
  .modal__thumb img {
    height: 478px;
  }
}
.modal__title {
  font-weight: inherit;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.modal-about {
  margin-bottom: 20px;
}
.modal-about__title {
  margin-bottom: 8px;
}
.modal-about__text {
  line-height: 1.6666666667;
  letter-spacing: -0.05px;
}

.modal-list {
  margin-bottom: 20px;
}
.modal-list__item {
  color: #8C8C8C;
}
.modal-list__item:not(:last-child) {
  margin-bottom: 8px;
}
.modal-list__vote {
  display: inline-block;
  width: 36px;
  text-align: center;
  margin-left: 41px;
  background-color: #FF6B01;
  color: #FFFFFF;
  border-radius: 5px;
  line-height: 1.1666666667;
}
.modal-list__votes {
  line-height: 1.1666666667;
  color: #000000;
}
.modal-list__popularity {
  margin-left: 53px;
  line-height: 1.1666666667;
  color: #000000;
}
.modal-list__title {
  margin-left: 39px;
  text-transform: uppercase;
  color: #000000;
}
.modal-list__genre {
  margin-left: 76px;
  color: #000000;
}

.modal-buttons__thumb {
  display: flex;
}

.modal-button {
  flex-basis: calc((100% - 20px) / 2);
  padding: 6px 27px;
  text-transform: uppercase;
  border: none;
}
.modal-button:not(:last-child) {
  margin-right: 20px;
}
.modal-button__queue {
  background-color: #FFFFFF;
  border: 1px solid #000000;
  color: #000000;
  font-weight: 500;
}/*# sourceMappingURL=main.css.map */