<section class="gallery">
  <div class="container">
    <h1 hidden>Gallery</h1>
    <ul class="list_film">
      <li class="item_film">
        <img src="./images/poster-film.png" data-src="" alt="Постер фільму" class="lazyload img_film">
        <h2 class="title_film">Назва фільму</h2>
        <p class="description_film">Жанр фільму<span>|</span>рік випуску</p>
      </li>
      <li class="item_film">
        <img src="./images/poster-film.png" data-src="" alt="Постер фільму" class="lazyload img_film">
        <h2 class="title_film">Назва фільму</h2>
        <p class="description_film">Жанр фільму<span>|</span>рік випуску</p>
      </li>
      <li class="item_film">
        <img src="./images/poster-film.png" data-src="" alt="Постер фільму" class="lazyload img_film">
        <h2 class="title_film">Назва фільму</h2>
        <p class="description_film">Жанр фільму<span>|</span>рік випуску</p>
      </li>
      <li class="item_film">
        <img src="./images/poster-film.png" data-src="" alt="Постер фільму" class="lazyload img_film">
        <h2 class="title_film">Назва фільму</h2>
        <p class="description_film">Жанр фільму<span>|</span>рік випуску</p>
      </li>
      <li class="item_film">
        <img src="./images/poster-film.png" data-src="" alt="Постер фільму" class="lazyload img_film">
        <h2 class="title_film">Назва фільму</h2>
        <p class="description_film">Жанр фільму<span>|</span>рік випуску</p>
      </li>
      <li class="item_film">
        <img src="./images/poster-film.png" data-src="" alt="Постер фільму" class="lazyload img_film">
        <h2 class="title_film">Назва фільму</h2>
        <p class="description_film">Жанр фільму<span>|</span>рік випуску</p>
      </li>
    </ul>
  </div>
</section>