<header class="header home">
  <div class="container">
    <div class="header-menu">
      <a class="header-container__link" aria-label="header page" href="https://iryna-holova.github.io/filmoteka/">
        <span class="header-container__title">Filmoteka</span>
        <svg class="header-container__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-film"></use>
        </svg>
      </a>
      <div class="header__theme-thumb">

        <div class="header__theme-values">
          <svg class="toggle-base__icon star" width="12" height="12">
            <use href="./images/icons.svg#icon-sun"></use>
          </svg>
          <svg class="toggle-base__icon moon" width="12" height="12">
            <use href="./images/icons.svg#icon-moon"></use>
          </svg>
        </div>
        <div class="header__theme-toggle"></div>
      </div>
      <nav class="header-nav">
        <ul class="header-nav__list">
          <li class="header-nav__item">
            <div class=""></div>
            <button type="button" class="header-nav__link header-nav--current" data-page="home"
              aria-label="Home Page">home</button>
          </li>
          <li class="header-nav__item">
            <button type="button" class="header-nav__link is-hidden" data-page="library" aria-label="My Library">my
              library</button>
          </li>
          <li class="header-nav__item">
            <button type="button" class="header-nav__link" data-page="log-in" aria-label="Log in">log In</button>
          </li>
          <li class="header-nav__item">
            <button type="button" class="header-nav__link is-hidden" data-page="log-out" aria-label="Log Out">
              <svg class="header-nav__icon">
                <use href="./images/icons.svg#icon-exit"></use>
              </svg>
            </button>
          </li>
        </ul>
      </nav>

    </div>
    <div class="header-search">
      <form class="header-search__form">
        <label class="header-search__point">
          <input class="header-search__input" type="text" name="search" autocomplete="off" placeholder="Search...">
          <button class="header-search__button" type="button" aria-label="Button search on site">
            <svg class="header-search__icon" width="12" height="12">
              <use href="./images/icons.svg#icon-search"></use>
            </svg>
          </button>
        </label>
      </form>
    </div>
    <div class="headers-button">
      <button type="button" class="header-button__watch" aria-label="List watchedlist of watched movies">
        Watched
      </button>
      <button type="button" class="header-button__que" aria-label="List of movies I want to see">
        Queue
      </button>
    </div>
  </div>

</header>
