<header class="header home">
  <div class="container">
    <div class="header-menu">
      <a class="header-container__link" aria-label="header page" href="">
        <span class="header-container__title">Filmoteka</span>
        <svg class="header-container__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-film"></use>
        </svg>
      </a>
      <nav class="header-nav">
        <ul class="header-nav__list">
          <li class="header-nav__item">
            <button type="button" class="header-nav__link header-nav--current" data-page="home">home</button>
          </li>
          <li class="header-nav__item">
            <button type="button" class="header-nav__link is-hidden" data-page="library">my library</button>
          </li>
          <li class="header-nav__item">
            <button type="button" class="header-nav__link" data-page="log-in">log In</button>
          </li>
          <li class="header-nav__item">
            <!--<button type="button" class="header-nav__link is-hidden" data-page="log-out"></button>
              Log out-->
            <button type="button" class="header-nav__link is-hidden" data-page="log-out">
              <svg class="header-nav__icon" >
                <use href="./images/icons.svg#exit-logout-svgrepo-com2"></use>
              </svg>
            </button>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header-search">
      <form class="header-search__form">
        <label class="header-search__point">
          <input class="header-search__input" type="text" name="q" placeholder="Search...">
          <button class="header-search__button">
            <svg class="header-search__icon" width="12" height="12">
              <use href="./images/icons.svg#icon-search"></use>
            </svg>
          </button>
        </label>
      </form>
    </div>
    <div class="headers-button">
      <button type="button" class="header-button__watch">
        Watched
      </button>
      <button type="button" class="header-button__que">
        Queue
      </button>
    </div>
  </div>

</header>
