<div class="team-container">
  <h2 class="team-container__title">
    <span class="team-title-name">Our Team</span>
  </h2>
  <ul class="cards-container">
    <li class="card">
      <div class="card__content">
        <div class="imgBox">
          <img class="imgBox__img" src="./images/footer_modal_photo/photo_irina.jpg" />
        </div>
        <div class="contentBox">
          <h3 class="contentBox__name">Irina Golova</h3>
          <p class="contentBox__description">Team Lead</p>
        </div>
      </div>
    </li>
    <li class="card">
      <div class="card__content">
        <div class="imgBox">
          <img class="imgBox__img" />
        </div>
        <div class="contentBox">
          <h3 class="contentBox__name">Ksenia Ostafiichuk</h3>
          <p class="contentBox__description">Scrum Master</p>
        </div>
      </div>
    </li>
    <li class="card">
      <div class="card__content">
        <div class="imgBox">
          <img class="imgBox__img" src="./images/footer_modal_photo/photo_sergey.jpg" />
        </div>
        <div class="contentBox">
          <h3 class="contentBox__name">Sergio Okunev</h3>
          <p class="contentBox__description">Developer</p>
        </div>
      </div>
    </li>
    <li class="card">
      <div class="card__content">
        <div class="imgBox">
          <img class="imgBox__img" />
        </div>
        <div class="contentBox">
          <h3 class="contentBox__name">Olha Voloshenko</h3>
          <p class="contentBox__description">Developer</p>
        </div>
      </div>
    </li>
    <li class="card">
      <div class="card__content">
        <div class="imgBox">
          <img class="imgBox__img" />
        </div>
        <div class="contentBox">
          <h3 class="contentBox__name">Maxym Dziubanchuk</h3>
          <p class="contentBox__description">Developer</p>
        </div>
      </div>
    </li>
    <li class="card">
      <div class="card__content">
        <div class="imgBox">
          <img class="imgBox__img" src="./images/footer_modal_photo/photo_yulia.jpg" />
        </div>
        <div class="contentBox">
          <h3 class="contentBox__name">Yuliya Boyko</h3>
          <p class="contentBox__description">Developer</p>
        </div>
      </div>
    </li>
    <li class="card">
      <div class="card__content">
        <div class="imgBox">
          <img class="imgBox__img" src="./images/footer_modal_photo/photo_igor.jpg" />
        </div>
        <div class="contentBox">
          <h3 class="contentBox__name">Ihor Ostapenko</h3>
          <p class="contentBox__description">Developer</p>
        </div>
      </div>
    </li>
    <li class="card">
      <div class="card__content">
        <div class="imgBox">
          <img class="imgBox__img" src="./images/footer_modal_photo/photo_helen.jpg" />
        </div>
        <div class="contentBox">
          <h3 class="contentBox__name">Olena Snisarenko</h3>
          <p class="contentBox__description">Developer</p>
        </div>
      </div>
    </li>
  </ul>
</div>
