<div class="micromodal-slide" id="modal_footer" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div
      class="modal__container team-container"
      role="dialog"
      aria-modal="true"
      aria-labelledby="modal_footer-title"
    >
      <h2 class="team-container__title">
        <span class="team-title-name">Our Team</span>
      </h2>

      <button class="modal__button-close" aria-label="Close modal">
        <svg class="modal__icon_cross" width="14" height="14" data-micromodal-close>
          <use href="./images/icons.svg#icon-cross"></use>
        </svg>
      </button>

      <ul class="cards-container">
        <li class="card">
          <div class="card__content">
            <div class="imgBox">
              <img
                class="imgBox__img"
                src="./images/footer_modal_photo/photo_irina.jpg"
                alt="student"
                width="190"
              />
            </div>
            <div class="contentBox">
              <h3 class="contentBox__name">Iryna Holova</h3>
              <p class="contentBox__description">Team Lead</p>
            </div>
          </div>
        </li>
        <li class="card">
          <div class="card__content">
            <div class="imgBox">
              <img
                class="imgBox__img"
                src="./images/footer_modal_photo/photo_ksenia.jpg"
                alt="student"
                width="190"
              />
            </div>
            <div class="contentBox">
              <h3 class="contentBox__name">Ksenia Ostafiichuk</h3>
              <p class="contentBox__description">Scrum Master</p>
            </div>
          </div>
        </li>
        <li class="card">
          <div class="card__content">
            <div class="imgBox">
              <img
                class="imgBox__img"
                src="./images/footer_modal_photo/photo_sergey.jpg"
                alt="student"
                width="190"
              />
            </div>
            <div class="contentBox">
              <h3 class="contentBox__name">Sergio Okunev</h3>
              <p class="contentBox__description">Developer</p>
            </div>
          </div>
        </li>
        <li class="card">
          <div class="card__content">
            <div class="imgBox">
              <img
                class="imgBox__img"
                src="./images/footer_modal_photo/photo_yulia.jpg"
                alt="student"
                width="190"
              />
            </div>
            <div class="contentBox">
              <h3 class="contentBox__name">Olha Voloshenko</h3>
              <p class="contentBox__description">Developer</p>
            </div>
          </div>
        </li>
        <li class="card">
          <div class="card__content">
            <div class="imgBox">
              <img
                class="imgBox__img"
                src="./images/footer_modal_photo/photo_maksym.jpg"
                alt="student"
                width="190"
              />
            </div>
            <div class="contentBox">
              <h3 class="contentBox__name">Maxym Dziubanchuk</h3>
              <p class="contentBox__description">Developer</p>
            </div>
          </div>
        </li>
        <li class="card">
          <div class="card__content">
            <div class="imgBox">
              <img
                class="imgBox__img"
                src="./images/footer_modal_photo/photo_yulia.jpg"
                alt="student"
                width="190"
              />
            </div>
            <div class="contentBox">
              <h3 class="contentBox__name">Yuliya Boyko</h3>
              <p class="contentBox__description">Developer</p>
            </div>
          </div>
        </li>
        <li class="card">
          <div class="card__content">
            <div class="imgBox">
              <img
                class="imgBox__img"
                src="./images/footer_modal_photo/photo_igor.jpg"
                alt="student"
                width="190"
              />
            </div>
            <div class="contentBox">
              <h3 class="contentBox__name">Ihor Ostapenko</h3>
              <p class="contentBox__description">Developer</p>
            </div>
          </div>
        </li>
        <li class="card">
          <div class="card__content">
            <div class="imgBox">
              <img
                class="imgBox__img"
                src="./images/footer_modal_photo/photo_helen.jpg"
                alt="student"
                width="190"
              />
            </div>
            <div class="contentBox">
              <h3 class="contentBox__name">Olena Snisarenko</h3>
              <p class="contentBox__description">Developer</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
;
