<div class="modal">
  <button class="modal__close" aria-label="close">
    src/partials/modal-gallery.html
    <svg>
      <use href=""></use>
    </svg>
  </button>
  <div class="modal__thumb">
    <img src="" alt="" />
  </div>
  <h2 class="modal__img"></h2>
  <ul class="modal-list">
    <li class="modal-list__item">
      Vote / Votes <span class="modal-list__vote"></span>/<span class="modal-list__votes"></span>
    </li>
    <li class="modal-list__item">
      Popularity
      <span class="modal-list__popularity"></span>
    </li>
    <li class="modal-list__item">
      Original Title
      <span class="modal-list__title"></span>
    </li>
    <li class="modal-list__item">
      Genre
      <span class="modal-list__genre"></span>
    </li>
  </ul>
  <article>
    <h3 class="modal__about-title"></h3>
    <p class="modal__about"></p>
  </article>
  <button class="button button__add">Add to watched</button>
  <button class="button">Add to queue</button>
</div>
