<div class='team-container'>
    <h2 class='team__title'>
        <span class='team-title-name'>Our Team</span>
    </h2>
    <ul class='cards-container'>
        <li class='card'>
            <div class='card__content'>
                <div class='imgBox'>
                    <img class='imgBox__img' />
                </div>
                <div class='contentBox'>
                    <h3 class='contentBox__name'>Name</h3>
                    <p class='contentBox__description'>Description</p>
                </div>
            </div>
        </li>
        <li class='card'>
            <div class='card__content'>
                <div class='imgBox'>
                    <img class='imgBox__img' />
                </div>
                <div class='contentBox'>
                    <h3 class='contentBox__name'>Name</h3>
                    <p class='contentBox__description'>Description</p>
                </div>
            </div>
        </li>
        <li class='card'>
            <div class='card__content'>
                <div class='imgBox'>
                    <img class='imgBox__img' />
                </div>
                <div class='contentBox'>
                    <h3 class='contentBox__name'>Name</h3>
                    <p class='contentBox__description'>Description</p>
                </div>
            </div>
        </li>
        <li class='card'>
            <div class='card__content'>
                <div class='imgBox'>
                    <img class='imgBox__img' />
                </div>
                <div class='contentBox'>
                    <h3 class='contentBox__name'>Name</h3>
                    <p class='contentBox__description'>Description</p>
                </div>
            </div>
        </li>
        <li class='card'>
            <div class='card__content'>
                <div class='imgBox'>
                    <img class='imgBox__img' />
                </div>
                <div class='contentBox'>
                    <h3 class='contentBox__name'>Name</h3>
                    <p class='contentBox__description'>Description</p>
                </div>
            </div>
        </li>
        <li class='card'>
            <div class='card__content'>
                <div class='imgBox'>
                    <img class='imgBox__img' />
                </div>
                <div class='contentBox'>
                    <h3 class='contentBox__name'>Name</h3>
                    <p class='contentBox__description'>Description</p>
                </div>
            </div>
        </li>
        <li class='card'>
            <div class='card__content'>
                <div class='imgBox'>
                    <img class='imgBox__img' />
                </div>
                <div class='contentBox'>
                    <h3 class='contentBox__name'>Name</h3>
                    <p class='contentBox__description'>Description</p>
                </div>
            </div>
        </li>
        <li class='card'>
            <div class='card__content'>
                <div class='imgBox'>
                    <img class='imgBox__img' />
                </div>
                <div class='contentBox'>
                    <h3 class='contentBox__name'>Name</h3>
                    <p class='contentBox__description'>Description</p>
                </div>
            </div>
        </li>
    </ul>
</div>