<div class="modal-gallery micromodal-slide" aria-hidden="true" id="modal-gallery">
  <div class="modal-gallery__overlay" tabindex="-1" data-micromodal-close>
    <div>
      <div
        class="modal-gallery__container"
        role="dialog"
        aria-modal="true"
        aria-labelledby="modal-1-title"
      >
        <button class="modal-gallery__close" aria-label="close">
          <svg class="modal-gallery__cross" width="14" height="14">
            <use href="./images/icons.svg#icon-cross"></use>
          </svg>
        </button>

        <div class="modal-gallery__flex-thumb">
          <div class="modal-gallery__thumb">
            <img src="./images/default-thumbnail.jpg" alt="poster" />
          </div>

          <div class="modal-gallery__thumb">
            <h2 class="modal-gallery__title">A fistful of lead</h2>
            <ul class="modal-gallery-list">
              <li class="modal-gallery-list__item">
                Vote / Votes <span class="modal-gallery-list__vote">7.3</span> /
                <span class="modal-gallery-list__votes">1260</span>
              </li>

              <li class="modal-gallery-list__item">
                Popularity
                <span class="modal-gallery-list__popularity">100.2</span>
              </li>

              <li class="modal-gallery-list__item">
                Original Title
                <span class="modal-gallery-list__title">A fistful of lead</span>
              </li>

              <li class="modal-gallery-list__item">
                Genre
                <span class="modal-gallery-list__genre">Western</span>
              </li>
            </ul>

            <article class="modal-gallery-about">
              <h3 class="modal-gallery-about__title">About</h3>
              <p class="modal-gallery-about__text">
                Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from
                the most corrupt settlement of the gold rush towns. But not all goes to plan one is
                killed and the other three escapes with bags of gold hide out in the abandoned gold
                mine where they happen across another gang of three – who themselves were planning
                to hit the very same bank! As tensions rise, things go from bad to worse as they
                realise the bags of gold are filled with lead... they’ve been double crossed – but
                by who and how?
              </p>
            </article>

            <div class="modal-gallery-buttons__thumb">
              <button class="button modal-gallery-button">Add to watched</button>
              <button class="button modal-gallery-button modal-button__queue">Add to queue</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
