<div class="micromodal-slide" id="modal_gallery" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div
      class="modal__container modal-gallery"
      role="dialog"
      aria-modal="true"
      aria-labelledby="modal-1-title"
    >
      <button class="modal__button-close" aria-label="Close modal">
        <svg class="modal__icon_cross" width="14" height="14" data-micromodal-close>
          <use href="./images/icons.svg#icon-cross"></use>
        </svg>
      </button>
      <div class="modal-gallery-buttons__nav">
        <button class="button__nav prev" type="button" data-prev>
          <svg width="30" height="30">
            <use href="./images/icons.svg#icon-scrollUp"></use>
          </svg>
        </button>
        <button class="button__nav next" type="button" data-next>
          <svg width="30" height="30">
            <use href="./images/icons.svg#icon-scrollUp"></use>
          </svg>
        </button>
      </div>
      <div class="modal-gallery__flex-thumb">
        <!-- <div class="modal-gallery__thumb">
          <img src="./images/default-thumbnail.jpg" alt="poster" />
        </div>

        <div class="modal-gallery__thumb-text">
          <h2 class="modal-gallery__title">A fistful of lead</h2>
          <ul class="modal-gallery-list">
            <li class="modal-gallery-list__item">
                <div class="modal-gallery-item__name">Vote / Votes</div>
                <div class="modal-gallery-item__value">
                  <span class="modal-gallery-list__vote">7.3</span> /
                  <div class="modal-gallery-list__votes modal-gallery-item__value">1260</div>
                </div>
              </div>
            </li>

            <li class="modal-gallery-list__item">
                <div class="modal-gallery-item__name">Popularity</div>
                <div class="modal-gallery-list__popularity modal-gallery-item__value">100.2</div>
            </li>

            <li class="modal-gallery-list__item">
                <div class="modal-gallery-item__name">Original Title</div>
                <div class="modal-gallery-list__title modal-gallery-item__value">A fistful of lead</div>
            </li>

            <li class="modal-gallery-list__item">
                <div class="modal-gallery-item__name">Genre</div>
                <div class="modal-gallery-list__genre modal-gallery-item__value">Western</div>
            </li>
          </ul>

          <li class="modal-gallery-list__item">
            <div class="modal-gallery__title-thumb">
              <div class="modal-gallery-item__name">Popularity</div>
              <div class="modal-gallery-list__popularity modal-gallery-item__value">100.2</div>
            </div>
          </li>

          <li class="modal-gallery-list__item">
            <div class="modal-gallery__title-thumb">
              <div>Original Title</div>
              <div class="modal-gallery-list__title">A fistful of lead</div>
            </div>
          </li>

          <li class="modal-gallery-list__item">
            <div class="modal-gallery__title-thumb">
              <div>Genre</div>
              <div class="modal-gallery-list__genre">Western</div>
            </div>
          </li>
        </ul>

          <article class="modal-gallery-about">
            <h3 class="modal-gallery-about__title">About</h3>
            <p class="modal-gallery-about__text">
              Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from
              the most corrupt settlement of the gold rush towns. But not all goes to plan one is
              killed and the other three escapes with bags of gold hide out in the abandoned gold
              mine where they happen across another gang of three – who themselves were planning to
              hit the very same bank! As tensions rise, things go from bad to worse as they realise
              the bags of gold are filled with lead... they’ve been double crossed – but by who and
              how?
            </p>
          </article>

          <div class="modal-gallery-buttons__thumb">
            <button class="button modal-gallery-button">Add to watched</button>
            <button class="button modal-gallery-button modal-gallery-button__queue">
              Add to queue
            </button>
          </div>
        </div>
      </div> -->
      </div>
    </div>
  </div>
</div>
