.footer {
  background-color: $clr-bg-footer;
  text-align: center;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  opacity: 0.5;

  @media screen and (min-width: 768px) {
      padding-top: 5px;
      padding-bottom: 5px;
  }

  @media screen and (min-width: 1024px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &:hover {
      padding-top: 20px;
      padding-bottom: 28px;
      opacity: 1;
    }
}

.footer:hover .footer-option{
  @media screen and (min-width: 768px) {
      padding-top: 30px;
      padding-bottom: 28px;
  }    
}

.footer-option {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  color: $clr-footer;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    font-size: 16px;
    line-height: 1.19;
  }
}

.footer-text,
.footer-heart,
.footer__link {
  color: $clr-footer;
}

.footer-heart {
  margin-left: 5px;
}

.heart {
  margin-left: 5px;
  margin-right: 5px;
}

.footer__link {
  text-decoration: underline;
  cursor: pointer;
}
.footer__link:focus,
.footer__link:hover {
  color: $clr-accent;
}
