.header.home {
   /*background-size: cover;*/
    background-size: 320px;
    background-position-x: center;
    background-color: #000;
    background-repeat: no-repeat;

    background-image: url('../images/home/320/rectangle.png');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .box {
                background-image: url('../images/home/320/rectangle@2x.png');
            }
        } 

    @media screen and (min-width: 768px) {
        background-size: 768px;
        background-image: url('../images/home/768/rectangle.png');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .box {
                background-image: url('../images/home/768/rectangle@2x.png');
            }
        }
    }

    @media screen and (min-width: 1024px) {
        background-size: 1024px;
        
        background-image: url('../images/home/1024/rectangle.png');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .box {
                background-image: url('../images/home/1024/rectangle@2x.png');
            }
        }
        
    }
}
.header.library {
    /*background-size: cover;*/
     background-size: 320px;
     background-position-x: center;
     background-color: #000;
     background-repeat: no-repeat;
 
     background-image: url('../images/lib/320/rectangle.png');
 
         @media (min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
             .box {
                 background-image: url('../images/lib/320/rectangle@2x.png');
             }
         } 
 
     @media screen and (min-width: 768px) {
         background-size: 768px;
         background-image: url('../images/lib/768/rectangle.png');
 
         @media (min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
             .box {
                 background-image: url('../images/lib/768/rectangle@2x.png');
             }
         }
     }
 
     @media screen and (min-width: 1024px) {
         background-size: 1024px;
         
         background-image: url('../images/lib/1024/rectangle.png');
 
         @media (min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
             .box {
                 background-image: url('../images/lib/1024/rectangle@2x.png');
             }
         }
         
     }
 }

 .header.container {
    background-color: $clr-bg-header;
 }
.header-menu {
    display: flex;
    align-items: center;

    padding-top: 40px;
   // padding-left: 20px;
    //padding-right: 20px;
    padding-bottom: 56px;

    @media screen and (min-width: 768px) {
        padding-bottom: 40px;
        padding-left: 32px;
        padding-right: 32px;
    }
}
.header-container__link {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
}
.header-container__title {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;

    display: flex;
    display: none;

    color: $clr-light;

    @media screen and (min-width: 768px) {
        display: flex;
    }
}
.header-container__icon {
    display: block;
        
    @media screen and (min-width: 768px) {
        margin-right: 8px;
    }
    @media screen and (min-width: 1024px) {
        margin-right: 10px;
    }
}
.header-nav {
    margin-left: auto;
    &--current::after {
        content: "";
        display: block;
        position: relative;
        top: 2px;
        bottom: -1px;
        width: 100%;
        height: 3px;
    
        background-color: $clr-accent;
        border-radius: 2px;
    }
}
.header-nav--current {
    color: $clr-light;
}
.header-nav__list {
    display: flex;
}
.header-nav__item {
    text-transform: uppercase;
        &:last-child {
            padding-left: 40px;
        }
}
.header-nav__link {
    color: $clr-light;
    padding-bottom: 20px;
    padding-top: 20px;
}
.header-search {
    padding-bottom: 92px;

    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
   
    color: $clr-light;
    border-radius: 4px solid $clr-light;
    
        @media screen and (min-width: 768px) {
            padding-bottom: 80px;
        }
}
.header-search__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;

    color: $clr-light;
}
.header-search__form {
    position: relative; 
}
.header-search__icon {
    position: absolute;
    top: 0;
    left: 96%;
}
.header-search__input {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    align-items: center;

    width: 280px;
    height: 20px;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid $clr-light;
        
        &::placeholder {
            color: $clr-light;
            opacity: 1;
        }
        @media screen and (min-width: 768px) {
            width: 336px;
        }
}
.headers-button {
    //display: flex;
    display: none;
    justify-content: center;
    padding-bottom: 62px;

    @media screen and (min-width: 768px) {
        padding-bottom: 60px;
    }
}
.header-button__watch,
.header-button__que {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;

    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: $clr-light;

    width: 148px;
    height: 42px;

    background-color: transparent;
    border-radius: 3px;
    border: 1px solid $clr-light;

   transition-property: background-color, border-color, border-radius;
   transition-duration: $transition-time;
   transition-timing-function: $cubic;
   transition-delay: $transition-time;;
}
.header-button__watch:focus,
.header-button__que:focus {
    background-color: $clr-accent-btn;
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    border-color: $clr-accent-btn;
}
.header-button__watch:hover,
.header-button__que:hover {
    background-color: $clr-accent-btn;
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    border-color: $clr-accent-btn;
    border-radius: 5px;
}
.header-button__watch {
    margin-right: 20px;
   
        @media screen and (min-width: 768px) {
            margin-right: 32px;
        }
        @media screen and (min-width: 1024px) {
            margin-right: 16px;
        }
}