.header {
  background-size: 320px;
  background-position-x: center;
  background-color: $clr-main;
  background-repeat: no-repeat;
  @media screen and (min-width: 768px) {
    background-size: 768px;
  }
  @media screen and (min-width: 1024px) {
    background-size: 1024px;
  }
}

.header.home {
  background-image: linear-gradient($clr-bg-header, $clr-bg-header),
    url('../images/home/320/rectangle.webp');
  @media screen and (min-width: 768px) {
    background-image: linear-gradient($clr-bg-header, $clr-bg-header),
      url('../images/home/768/rectangle.webp');
  }
  @media screen and (min-width: 1024px) {
    background-image: linear-gradient($clr-bg-header, $clr-bg-header),
      url('../images/home/1024/rectangle.webp');
  }
}

.header.library {
  background-image: linear-gradient($clr-bg-header, $clr-bg-header),
    url('../images/lib/320/rectangle.webp');
  @media screen and (min-width: 768px) {
    background-image: linear-gradient($clr-bg-header, $clr-bg-header),
      url('../images/lib/768/rectangle.webp');
  }
  @media screen and (min-width: 1024px) {
    background-image: linear-gradient($clr-bg-header, $clr-bg-header),
      url('../images/lib/1024/rectangle.webp');
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header.home {
    background-image: linear-gradient($clr-bg-header, $clr-bg-header),
      url('../images/home/320/rectangle_2x.webp');
    @media screen and (min-width: 768px) {
      background-image: linear-gradient($clr-bg-header, $clr-bg-header),
        url('../images/home/768/rectangle_2x.webp');
    }
    @media screen and (min-width: 1024px) {
      background-image: linear-gradient($clr-bg-header, $clr-bg-header),
        url('../images/home/1024/rectangle_2x.webp');
    }
  }

  .header.library {
    background-image: linear-gradient($clr-bg-header, $clr-bg-header),
      url('../images/lib/320/rectangle_2x.webp');
    @media screen and (min-width: 768px) {
      background-image: linear-gradient($clr-bg-header, $clr-bg-header),
        url('../images/lib/768/rectangle_2x.webp');
    }
    @media screen and (min-width: 1024px) {
      background-image: linear-gradient($clr-bg-header, $clr-bg-header),
        url('../images/lib/1024/rectangle_2x.webp');
    }
  }
}
.header-menu {
  display: flex;
  align-items: center;

  padding-top: 32px;

  @media screen and (min-width: 1024px) {
    padding-top: 30px;
  }
  
}
.header-container__link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: center;
}
.header-container__title {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.172;

  display: flex;
  display: none;

  color: $clr-light;

  transition-property: color;
  transition-duration: $transition-time;
  transition-timing-function: $cubic;

  &:hover, &:focus {
    color: $clr-accent;
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  }

    @media screen and (min-width: 768px) {
      display: flex;
    }
}
.header-container__icon {
  display: block;

    @media screen and (min-width: 768px) {
      margin-right: 8px;
    }
    @media screen and (min-width: 1024px) {
      margin-right: 10px;
    }
}
.header-nav {
  margin-left: auto;
  &--current::after {
    content: '';
    display: block;
    position: relative;
    top: 2px;
    bottom: -1px;
    width: 100%;
    height: 3px;

    background-color: $clr-accent;
    border-radius: 2px;
  }
}
.header-nav--current {
  color: $clr-light;
}
.header-nav__list {
  display: flex;
}
.header-nav__item {
  &:nth-child(n + 2) {
    padding-left: 15px;
  }
}
.header-nav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;

  color: $clr-light;
  padding-bottom: 10px;
  padding-top: 10px;

  text-transform: uppercase;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;

  transition: color $transition-time $cubic;
 
    @media screen and (min-width: 768px) {
      padding-bottom: 16px;
      padding-top: 16px;
    }
    @media screen and (min-width: 1024px) {
      padding-bottom: 16px;
      padding-top: 16px;
    }

    &:focus, &:hover {
      color: $clr-accent;
      filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    }
  // &[data-page="library"] {
  //   display: none;
  // }
}
.header-nav__link[data-page="log-out"] {
  padding-bottom: 0;
    padding-top: 0;
    width: 32px;
    height: 32px;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    
    width: 54px;
    height: 40px;
  }
}
.header-nav__link[data-page="library"] {
  @media screen and (min-width: 768px) {
    padding-bottom: 16px;
    padding-top: 16px;
  }
  
}
.header-nav__icon {
  width: 32px;
  height: 32px;
  fill: #f4a026;
  transition: fill $transition-time $cubic;

  @media screen and (min-width: 768px) {
    width: 40px;
    height: 44px;
  }

  &:hover, &:focus {
    fill: #ff6b08;
    //background-color: #ff6b08;
  }
}
.header-search {
  position: relative;
  padding-bottom: 92px;
  padding-top: 46px;

  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;

  color: $clr-light;
  border-radius: 4px solid $clr-light;

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 80px;
  }
  @media screen and (min-width: 1024px) {
    padding-top: 33px;
  }
}
.header-search__form {
  position: relative;
}

.header-search__point {
  stroke: #fff;
  fill: transparent;
 
  &:hover, &:focus {
    stroke: #ff6b08;
  }
}
.header-search__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;

  width: 280px;
  height: 20px;

  background-color: transparent;
  outline-color: transparent;
  border: none;
  border-bottom: 1px solid $clr-light;
  color: $clr-light;

  transition: border-color $transition-time $cubic;
  stroke: var(--color2, #fff);
  transition: stroke $transition-time $cubic;

  outline: 0 none;
  outline-offset: 0;
    &:focus, &:hover {
      border: transparent;
      border-bottom: 1px solid $clr-accent;
      stroke: $clr-accent;
    }
    &::placeholder {
      color: $clr-light;
      opacity: 1;

      @media screen and (min-width: 768px) {
        width: 336px;
      }
  }
}
.header-search__button {
  color: transparent;
  position: absolute;
  padding: 10px;
  top: -4%;
  left: 94%;

  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header-search__icon {
  position: absolute;
  top: 24%;
  left: 24%;

 /* stroke: var(--color2, #fff);
  transition: stroke $transition-time $cubic;

  &:hover, &:focus {
    stroke: $clr-accent;
  }*/
}
.headers-button {
  display: none;
  justify-content: center;
  padding-bottom: 62px;
  padding-top: 52px;

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1024px) {
    padding-top: 29px;
  }
}
.header-button__watch,
.header-button__que {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: $clr-light;

  width: 148px;
  height: 44px;

  background-color: transparent;
  border-radius: 3px;
  border: 1px solid $clr-light;

  transition-property: background-color, border-color, border-radius;
  transition-duration: $transition-time;
  transition-timing-function: $cubic;

  &:focus, &:hover {
    background-color: $clr-accent-btn;
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    border-color: $clr-accent-btn;
    border-radius: 5px;
  }
}
.header-button__watch {
  margin-right: 20px;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }
  @media screen and (min-width: 1024px) {
    margin-right: 16px;
  }
}

.is-hidden {
  display: none;
}

.is-active {
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid $clr-light;

  transition-property: background-color, border-color, border-radius;
  transition-duration: $transition-time;
  transition-timing-function: $cubic;

  &:focus, &:hover {
    background-color: $clr-accent-btn;
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    border-color: $clr-accent-btn;
    border-radius: 5px;
  }
}

.is-active-now {
    background-color: $clr-accent-btn;
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    border-color: $clr-accent-btn;
    border-radius: 5px;
    color: $clr-light;
}