.team-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-height: 100vh;
}

.team-container__title {
  font-style: normal;
  font-weight: 700;
  margin-top: 20px;
  color: $clr-accent;
  text-transform: uppercase;
  text-align: center;
}
.cards-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
  max-height: 92vh;
}

.cards-container .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-title-name {
  color: $clr-accent;
}

.card__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.8;
  transition: 0.4s;
  margin-top: 20px;
  margin-bottom: 20px;

  .cards-container .card:hover & {
    opacity: 1;
    transform: translateY(-20px);
  }
}

.imgBox {
  position: relative;
  width: 190px;
  height: 190px;

  &__img {
    position: absolute;
    height: 100%;
    object-fit: cover;
  }
}

.contentBox__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: $clr-accent;
  text-align: center;
  margin: 20px 0 10px;
}

.contentBox__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-transform: initial;
}

@media screen and (min-width: 480px) {
  .team-container {
    max-width: 650px;
  }
}

@media screen and (min-width: 1032px) {
  .team-container {
    max-width: 900px;
  }
}
