.form-box {
  width: 280px;
  height: 400px;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  padding: 50px 20px;
  overflow-x: clip;

  @media screen and (min-width: 768px) {
    width: 420px;
  }

  // @media screen and (min-width: 1024px) {
        
  // }
  

  &::-webkit-scrollbar {
    width: 5px;
  }
}
.button-box {
  display: flex;
  width: 100%;
  margin-bottom: 35px;
  position: relative;
  box-shadow: 0 0 20px 9px $clr-bg-footer;
  border-radius: 30px;
}
.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: none;
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
  border-radius: 50px;
  transition: background-color $transition-time $cubic;
}

.active {
  background-color: $clr-accent-btn;

  .login::after {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 20px;
    color: $clr-accent-btn;
  }
}
// .btn-form {
//   top: 0;
//   left: 0;
//   position: absolute;
//   width: 200px;
//   height: 100%;
//   background: linear-gradient(to right, $clr-accent, $clr-accent-btn);
//   border-radius: 50px;
//   transition: $transition-time;
// }
.toggle-btn{
  width: 50%;
}
.social-icons {
  margin-bottom: 35px;
  text-align: center;
}
.google-auth {
  display: inline-block;
  width: 50px;
  margin: 0 12px;
  box-shadow: 0 0 20px 0 $clr-accent;
  cursor: pointer;
  border-radius: 50%;
}
.input-container{
  position: relative;
  width: 100%;
}
.input-group {
  top: 0;
  left: 0;
  position: relative;
  width: 240px;
  transition: $transition-time;
  margin-bottom: 10px;
  height: auto;

  @media screen and (min-width:768px) {
    width: 100%;
  }
}
.input-field {
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
.submit-btn {
  width: 200px;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: $clr-accent-btn;
  // linear-gradient(to right, red, orange);
  border: 0;
  outline: none;
  border-radius: 30px;
}

.checkbox-text {
  color: #777;
  font-size: 12px;
  margin-bottom: 15px;
  text-align: center;
  display: block;
}

.login {
  top: 0;
  left: 0;
}

.sign-up {
  position: absolute;
  left: 450px;
  top: 210px;
  width: calc(100% - 40px);
}

.modal__terms {
  color: $clr-accent-btn;
  text-decoration: underline;
}

.terms {
  color: $clr-accent-btn;
  text-decoration: underline;
  cursor: pointer;
}