.button__nav {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  text-align: center;
  background-color: $clr-light;
  padding: 0;
  border: none;
  cursor: pointer;

 & > svg {
  width: 100%;
  height: 100%;
 }

  &.prev {
    top: 20%;
    transform: rotate(-90deg);
  }

  &.next {
    top: 20%;
    right: 0px;
    transform: rotate(90deg);
  }
}

.modal-gallery {
  font-weight: 500;
  background-color: $clr-light;
  overflow: scroll;

  &__flex-thumb {
    padding: 48px 20px 40px 20px;
        // position: relative;
    // max-width: 280px;

    @media screen and (min-width: 768px) {
      display: flex;
      // max-width: 632px;
      padding: 40px 72px 40px 36px;
    }

    @media screen and (min-width: 1024px) {
      // max-width: 814px;
      padding: 40px 16px 40px 16px;
    }
  }

  &__thumb {
    max-width: 240px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      max-width: 264px;
      margin-right: 68px;
      margin-bottom: 0;
    }

    @media screen and (min-width: 1024px) {
      max-width: 375px;
      margin-right: 16px;
    }

    img {
      border-radius: 5px;
      width: 100%;
    }
  }

  &__thumb-text {
    max-width: 240px;
    @media screen and (min-width: 768px) {
      max-width: 264px;
      margin-bottom: 0;
    }

    @media screen and (min-width: 1024px) {
      max-width: 391px;
    }
  }

  &__title {
    font-weight: inherit;
    font-size: 20px;
    line-height: calc(23 / 20);
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &-about {
    margin-bottom: 20px;

    &__title {
      margin-bottom: 8px;
    }

    &__text {
      line-height: calc(20 / 12);
      letter-spacing: -0.05px;
    }
  }
}

.modal-gallery-list {
  margin-bottom: 20px;

  &__item {
    color: $clr-modal-param;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__vote {
    display: inline-block;
    width: 36px;
    text-align: center;
    margin-left: 41px;
    background-color: $clr-accent-btn;
    color: $clr-light;
    border-radius: 5px;
    line-height: calc(14 / 12);
  }

  &__votes {
    line-height: calc(14 / 12);
    color: $clr-main;
  }

  &__popularity {
    margin-left: 53px;
    line-height: calc(14 / 12);
    color: $clr-main;
  }

  &__title {
    margin-left: 39px;
    text-transform: uppercase;
    color: $clr-main;
  }

  &__genre {
    margin-left: 76px;
    color: $clr-main;
  }
}

.modal-gallery-buttons__thumb {
  display: flex;
  // justify-content: space-between;
}

.modal-gallery-button {
  background-color: $clr-light;
  border: 1px solid $clr-main;
  border-radius: 5px;
  color: $clr-main;
  width: 110px;
  height: 44px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:hover {
    background-color: $clr-accent-btn;
    border: none;
    color: $clr-light;
  }

  @media screen and (min-width: 768px) {
    width: 125px;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  @media screen and (min-width: 1024px) {
    width: 136px;
  }
}
